{% extends 'index.html' %}
{% block content %}
    <style>
        .nav-pills .nav-item .nav-link{
            
            border: none;
            color: #766E56;
            text-align: center;
        
        }
        .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
            background-color: #766E56;
            border: none;
            color: white;
            text-align: center;
        
        }
    </style>
    <div class="container">
        <h3>---</h3>
        <h5>---</h5>
        
        {% if path|e == '/show_text' %}
        <ul class="nav nav-pills btn mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="xml4000-tab" data-bs-toggle="pill" data-bs-target="#xml4000" type="button" role="tab" aria-controls="pills-home" aria-selected="true" >4000 files.</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="xml2000-tab" data-bs-toggle="pill" data-bs-target="#xml2000" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">2000 files.</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="xml1000-tab" data-bs-toggle="pill" data-bs-target="#xml1000" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">1000 files.</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="xml4000" role="tabpanel" aria-labelledby="xml4000-tab">
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml4000_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml4000_Porter }}" class="img-fluid">
                    </div>
                </dic>
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml4000_stop_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml4000_stop_Porter }}" class="img-fluid">
                    </div>
                </dic>
            </div>
            <div class="tab-pane fade" id="xml2000" role="tabpanel" aria-labelledby="xml2000-tab">
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml2000_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml2000_Porter }}" class="img-fluid">
                    </div>
                </dic>
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml2000_stop_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml2000_stop_Porter }}" class="img-fluid">
                    </div>
                </dic>
            </div>
            <div class="tab-pane fade" id="xml1000" role="tabpanel" aria-labelledby="xml1000-tab">
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml1000_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml1000_Porter }}" class="img-fluid">
                    </div>
                </dic>
                <dic class = "row">
                    <div class="col-6">
                        <img src="{{ xml1000_stop_Figure }}" class="img-fluid">
                    </div>
                    <div class="col-6">
                    <img src="{{ xml1000_stop_Porter }}" class="img-fluid">
                    </div>
                </dic>
            </div>
        </div>

        {% elif path|e == '/show_json' %}
        <dic class = "row">
            <div class="col-6">
                <img src="{{ json_Figure }}" class="img-fluid">
            </div>
            <div class="col-6">
            <img src="{{ json_Porter }}" class="img-fluid">
            </div>
        </dic>
        <h1>  <h1>
        <dic class = "row">
            <div class="col-6">
                <img src="{{ json_stop_Figure }}" class="img-fluid">
            </div>
            <div class="col-6">
            <img src="{{ json_stop_Porter }}" class="img-fluid">
            </div>
        </dic>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Please choose file!
            </div>
        {% endif %}
    </div>
        
{% endblock %}